.footer {
  width: 100%;
  background-color: lightblue;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  grid-gap: 1em;
  padding: 20px 40px;
}

.footer ul.contact {
  list-style-type: none;
  flex: 4;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer ul.contact li {
  flex: 1;
  margin: 0;
}

.footer .copyright {
  flex: 1;
}
